body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
    background: url("../images/folk-pattern.png");
    /* background: url(../images/zelda_background.jpg); */
}

#title {
    background: #cc6f32;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

#instructions {
    background: #fbe6cf;
    color: #1c8049;
}

#randNum {
    background: #53c987;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
}

#scoreBoard {
    background: #3afefd;
    margin-top: 10px;
    margin-bottom: 5px;
}

#scoreText {
    background: #1fa395;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
}

#score {
    background: #1fa395;
    color: #ffffff;
    margin: 5px;
}

#rupees {
    background: #ffffff;
}

.number {
    font-size: 40px;
    padding: 5px;
    margin: 5px;
}

.rupees {
    /* margin: 5px; */
}